.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
.modal-section {
  display: flex;
  justify-content: center;
}
input.ng-invalid.ng-touched {
  border-color: red;
  animation: animationFrames linear 500ms;
  animation-iteration-count: 3;
  transform-origin: 50% 50%;
}
@keyframes animationFrames{
  0% {
    border-color: rgba(255, 0, 0 ,1);    /*opacity:1;*/
  }
  50% {
    border-color: rgba(255, 0, 0 ,0);
  }
  100% {
    border-color: rgba(255, 0, 0 ,1);
  }
}
